:root {
	--dark-red: #5F1522;
	--white: #FFFBFB;
	--black: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
	background-color: var(--dark-red);
	opacity: 90%;
	display: flex;
}

nav img {
	width: 160px;
}

nav ul {
	display: flex;
	gap: 50px;
	list-style-type: none;
	margin: auto;
	font-family: "Cinzel";
	font-size: 18px;
	color: var(--white);
}
