:root {
	--dark-red: #5F1522;
	--white: #FFFBFB;
	--black: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
	background-color: var(--dark-red);
	opacity: 90%;
	display: flex;
	position: fixed;
	top: 0;
	width: 100%;
}

nav img {
	width: 160px;
}

nav ul {
	text-transform: uppercase;
	display: flex;
	gap: 50px;
	list-style-type: none;
	margin: auto;
	font-family: "Cinzel";
	font-size: 20px;
}

.nav-link {
	color: var(--white);
	text-decoration: none;
	position: relative;
  display: inline-block;
}

.nav-link::after, .nav-link::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1.5px;
  background: linear-gradient(to right, var(--white), pink);
  bottom: -5px;
  left: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s ease-out;
}

.nav-link::before {
  top: -5px;
  transform-origin: left;
}

.nav-link:hover::after, .nav-link:hover::before {
  transform: scaleX(1);
}

#home-container {
	margin-top: 76px;
	height: 89.49vh;
	width: 100vw;
	max-width: 100%;
	display: flex;
	background: url('./images/home-image.png');
	background-repeat: no-repeat;
	background-size: 100%;
}

#empty {
	width: 36%;
}

#home {
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 100px;
	justify-content: center;
	align-items: center;
}

#home-text {
	text-align: center;
}

#home h1 {
	font-family: "Cinzel Decorative";
	font-weight: 100;
	font-size: 70px;
	color: var(--dark-red);
}

#home span {
	font-family: "Inter";
	font-size: 40px;
	font-weight: 300;
	color: var(--dark-red);
}

#home button {
	font-family: "Cinzel";
	font-size: 25px;
	color: var(--white);
	background-color: var(--dark-red);
	padding: 18px 45px;
	border-radius: 10px;
	border: none;
	cursor: pointer;
}
